<div class="nav-bar">

  <div class="nav-logo">
      <h1>K-Shop</h1>
  </div>

  <div class="menu-btn" (click)="toggleMenu()">
      ☰
  </div>

  <div class="nav-link" [class.active]="menuOpen">

      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Feed-Back</a></li>
          <li><a href="/">Contact Us</a></li>
      </ul>

      <div class="nav-btn">
          <button><a href="/login">Sign-Up</a></button>
          <button>Sign-In</button>
      </div>

  </div>

</div>