<div class="nav-bar">
    <div class="nav-logo">
        <h1>K-Shop</h1>
    </div>
    <div class="menu-btn" (click)="toggleMenu()">
        ☰
    </div>
    <div class="nav-link" [class.active]="menuOpen">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">FeedBack</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
        <div class="nav-btn">
            <button><a href="/login">Sign-In</a></button>
            <button><a href="/register">Sign-Up</a></button>
        </div>
    </div>

</div>