<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="nav-bar">
    <div class="nav-logo">
      <!-- <img src="" alt="k-shop"> -->
       <h1>K-shop</h1>
    </div>
    <div class="nav-link">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Feed-Back</a></li>
        <li><a href="/">Contact Us</a></li>
      </ul>
    </div>
    <div class="nav-btn">
      <button>Sign-Up</button>
      <button>Sign-In</button>
    </div>
  </div>
</body>
</html>