<div class="login-container">

  <!-- LEFT SIDE -->
  <div class="login-banner">

    <div class="overlay"></div>

    <div class="banner-content">

      <h1>K-Shop</h1>

      <p>
        Discover amazing products, best deals,
        and fast delivery at your fingertips.
      </p>

    </div>

  </div>

  <!-- RIGHT SIDE -->
  <div class="login-box">

    <div class="login-header">

      <h2>Welcome Back 👋</h2>

      <p>Login to continue shopping</p>

    </div>

    <!-- SUCCESS -->
    <div class="alert success" *ngIf="messageType == 'success'">
      {{ message }}
    </div>

    <!-- ERROR -->
    <div class="alert error" *ngIf="messageType == 'error'">
      {{ message }}
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <!-- USER ID -->
      <div class="input-box">

        <label>Phone</label>

        <input type="text" placeholder="Enter Phone" [(ngModel)]="phone" name="phone" required minlength="4"
          #phoneField="ngModel">

        <small class="field-error" *ngIf="phoneField.invalid && (phoneField.touched || loginForm.submitted)">

          Phone Number Required

        </small>

      </div>

      <!-- PASSWORD -->
      <div class="input-box">

        <label>Password</label>

        <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required
          minlength="6" #passwordField="ngModel">

        <small class="field-error" *ngIf="passwordField.invalid && (passwordField.touched || loginForm.submitted)">

          Password Minimum 6 Characters

        </small>

      </div>

      <!-- OPTIONS -->
      <div class="login-options">

        <label class="remember">

          <input type="checkbox">

          Remember Me

        </label>

        <a href="#">Forgot Password?</a>

      </div>

      <!-- BUTTON -->
      <button type="submit">

        Login

      </button>

    </form>

    <!-- REGISTER -->
    <div class="register-link">

      Don’t have an account?

      <a href="/register">Create Account</a>

    </div>

  </div>

</div>