<div class="login-container">

  <div class="login-box">

    <div class="login-header">

      <h1>Welcome Back</h1>

      <p>Login to your account</p>

    </div>

    <!-- SUCCESS MESSAGE -->
    <div class="alert success" *ngIf="messageType == 'success'">
      {{ message }}
    </div>

    <!-- ERROR MESSAGE -->
    <div class="alert error" *ngIf="messageType == 'error'">
      {{ message }}
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

      <!-- PHONE -->
      <div class="input-box">

        <label>Phone Number</label>

        <input
          type="tel"
          placeholder="Enter Phone Number"
          [(ngModel)]="phone"
          name="phone"
          required
          minlength="10"
          #phoneField="ngModel">

        <small
          class="field-error"
          *ngIf="phoneField.invalid && (phoneField.touched || loginForm.submitted)">

          Valid Phone Number Required

        </small>

      </div>

      <!-- PASSWORD -->
      <div class="input-box">

        <label>Password</label>

        <input
          type="password"
          placeholder="Enter Password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
          #passwordField="ngModel">

        <small
          class="field-error"
          *ngIf="passwordField.invalid && (passwordField.touched || loginForm.submitted)">

          Password Minimum 6 Characters

        </small>

      </div>

      <button type="submit">
        Login
      </button>

    </form>

  </div>

</div>
