<div class="login-container">

  <div class="login-box">

    <div class="login-header">

      <h1>Welcome Back</h1>

      <p>
        Login to your account
      </p>

    </div>

    <p
      class="success"
      *ngIf="messageType == 'success'"
    >
      {{message}}
    </p>

    <p
      class="error"
      *ngIf="messageType == 'error'"
    >
      {{message}}
    </p>

    <form (ngSubmit)="login()">

      <div class="input-box">

        <label>
          Phone Number
        </label>

        <input
          type="text"
          placeholder="Enter Phone Number"
          [(ngModel)]="phone"
          name="phone"
        >

      </div>

      <div class="input-box">

        <label>
          Password
        </label>

        <input
          type="password"
          placeholder="Enter Password"
          [(ngModel)]="password"
          name="password"
        >

      </div>

      <button type="submit">

        Login

      </button>

    </form>

  </div>

</div>