<div class="register-container">

  <!-- LEFT SIDE -->
  <div class="register-banner">

    <div class="overlay"></div>
    <!-- <div *ngIf="message" [ngClass]="messageType">

      {{ message }}

    </div> -->
    <div class="banner-content">

      <h1>Create Your Store Account</h1>

      <p>
        Join thousands of happy shoppers and
        explore trending products with exclusive offers.
      </p>

    </div>

  </div>

  <!-- RIGHT SIDE -->
  <div class="register-box">

    <div class="register-header">

      <h2>Create Account ✨</h2>

      <p>Register to start shopping</p>

    </div>

    <!-- SUCCESS -->
    <div class="alert success" *ngIf="messageType == 'success'">
      {{ message }}
    </div>

    <!-- ERROR -->
    <div class="alert error" *ngIf="messageType == 'error'">
      {{ message }}
    </div>

    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

      <!-- FULL NAME -->
      <div class="input-box">

        <label>Full Name</label>

        <input type="text" placeholder="Enter Full Name" [(ngModel)]="name" name="name" required minlength="3"
          #nameField="ngModel">

        <small class="field-error" *ngIf="nameField.invalid && (nameField.touched || registerForm.submitted)">

          Full Name Required

        </small>

      </div>

      <!-- EMAIL -->
      <div class="input-box">

        <label>Email Address</label>

        <input type="email" placeholder="Enter Email" [(ngModel)]="email" name="email" required email
          #emailField="ngModel">

        <small class="field-error" *ngIf="emailField.invalid && (emailField.touched || registerForm.submitted)">

          Valid Email Required

        </small>

      </div>

      <!-- PHONE -->
      <div class="input-box">

        <label>Phone Number</label>

        <input type="tel" placeholder="Enter Phone Number" [(ngModel)]="phone" name="phone" required minlength="10"
          #phoneField="ngModel">

        <small class="field-error" *ngIf="phoneField.invalid && (phoneField.touched || registerForm.submitted)">

          Valid Phone Number Required

        </small>

      </div>

      <!-- PASSWORD -->
      <div class="input-box">

        <label>Password</label>

        <input type="password" placeholder="Create Password" [(ngModel)]="password" name="password" required
          minlength="6" #passwordField="ngModel">

        <small class="field-error" *ngIf="passwordField.invalid && (passwordField.touched || registerForm.submitted)">

          Password Minimum 6 Characters

        </small>

      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="input-box">

        <label>Confirm Password</label>

        <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword"
          required #confirmPasswordField="ngModel">

      </div>

      <!-- BUTTON -->
      <button type="submit">

        Create Account

      </button>

      <p *ngIf="message" [style.color]="messageType == 'success' ? 'green' : 'red'">
        {{ message }}
      </p>

    </form>

    <!-- LOGIN -->
    <div class="login-link">

      Already have an account?

      <a routerLink="/login">Login</a>

    </div>

  </div>

</div>